body
{
	line-height: 1.6em;
}

#stats
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#stats th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #99cfe4;
	border-top: 4px solid #96c8db;
	border-bottom: 1px solid #fff;
	color: #382b68;
}
#stats tbody tr {
  background-attachment:fixed;
}
#stats tr
{
	background: #cbeef1; 
	border-bottom: 1px solid #fff;
	color: #6e60a8;
	border-top: 1px solid transparent;
}
#stats td
{
	padding: 8px;
}
#stats tr:hover td
{
	background: #a4d5db;
	color: #300399;
}
#stats img
{
  padding-right: 6px;
}
#stats a:link,
#stats a:visited
{
  text-decoration: none;
  color: black;
}
#stats a:hover
{
  color: #ff006a;
}

.switch {
  position: relative;
  margin: 100px auto;
  width: 180px;
  height: 40px;
  border: 3px solid #45f;
  color: #45f;
  font-size: 25px;
  border-radius: 10px;
}

.quality {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  line-height: 40px;
}
.quality:first-child label {
  border-radius: 5px 0 0 5px;
}
.quality:last-child label {
  border-radius: 0 5px 5px 0;
}
.quality label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-style: italic;
  text-align: center;
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
}
.quality input[type="radio"] {
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}
.quality input[type="radio"]:focus {
  outline: 0;
  outline-offset: 0;
}
.quality input[type="radio"]:checked ~ label {
  background-color: #45f;
  color: #111;
}
.quality input[type="radio"]:active ~ label {
  transform: scale(1.05);
}
